
body{
    margin: 0 auto;
}


header {
    height: 80px;
    background-color: aqua;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";  
}
.header {
    grid-area: header;
    }
.navigation {
    grid-area: navigation;
    }
.main {
    grid-area: main;
    }



 @media (min-width: 768px) {
  .grid-container {
     grid-template-columns: 55px 1fr;
     grid-template-areas:
      "header header"
      "navigation main";
  }
  .main {
    display: grid;
    grid-template-columns: 50% ;
    
    }
}   