* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: #fcf4f7;
    font-family: 'Barlow', sans-serif;
    font-family: 'Nunito', sans-serif;
}


header {
    height: 80px;
    background-color: #7477bf;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";  
}
.header {
    grid-area: header;
    display: flex;
    width: 100%;
    color: white;
    align-content: center;
    justify-content:space-between; 
    }
.header-bell {
    padding-right: 10px; 
}
.bell-svg {
   width: 4.5rem;
   padding-left: 10px;
   padding-right: 10px;
}
.vertical-line {
    border-left: 1px solid #fcf4f7;
    height: 50px;
    align-self: center;
    padding-right: 10px;
}   
.header-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto 0;
    }
.header h2 {
    font-weight: 100;
    align-self: center; 
    font-size: 1.3em;  
    }
.header h3 {
        text-align: center;
        margin-left: 10px;
        align-self: center;
        font-size: small;
        font-weight: 100;   
    }
.user-head {
        display: flex;
    }
.navigation {
    grid-area: navigation;
    }
.main {
    grid-area: main;
    }
    .margin {
        margin:0 10px;
    }
.navigation {
    display: flex;
    justify-content:center;
    background-color:#4d4c72;
    width: 100%;
}
.navigation img {
    margin: 10px;
    filter: brightness(0) invert(1);
    width: 35px;
    align-self: center;
    align-items: center;
}
.headline {
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 10px;
    padding-left: 10px;
}
.main-header {
    display: flex;
   
}

.tab {
    background-color: lightgray;
    flex-basis: 100%;
    width: 100%;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
.alert {
    background-color: #7477bf;
    border-radius: 7px;
    height: 40px;
    margin: 10px 10px;
}





 @media (min-width: 768px) {
  .grid-container {
     grid-template-columns: 55px 1fr;
     grid-template-areas:
      "header header"
      "navigation main";
  }
    .main {
        display: grid;
        grid-template-columns: 50% ;
    }
    
    .header-768px,
    .traffic, 
    .social,
    .members,
    .activity,
    .settings,
    .message {
        grid-column: 1 / span 2;
        }
    .daily {
        grid-column: 1 / span 1;
        }
        
    .mobile {
        grid-column: 2 / span 1;
        }
    .navigation {
        display:block;
    }
    .navigation img {
        width: 30px;
    }           
}

@media (min-width: 1024px) {
    .traffic, 
    .social{
        grid-column: 1 / span 2;
        }
    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
        }
        
    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
        }       
}
